h1{
    background-color: blue;
    color: red;
}
.par1{
background-color: black;
color: orange;
}
.par2{
    background-color: red;
}
.par3{
    background-color: #ff0000;
}
.par4{
    background-color: rgb(255, 255, 0, 50%);
}
.par5{
    background-color: rgb(255, 0, 0);
}
.par6{
    
}
.par7{
    
}